.container-checkbox {
  display: flex;
  justify-content: center;
  column-gap: 15px;
  max-height: 0;
  width: 90%;
  max-width: 400px;
  overflow: hidden;
  transition: max-height 0.2s ease;
}

.container-checkbox span {
  display: flex;
  column-gap: 5px;
  align-items: center;
  padding-left: 3.5px;
}

.container-checkbox span > * {
  height: max-content;
  line-height: 50px;
}

.container-button-filter {
  width: 90%;
  max-width: 400px;
}

#bt-filter {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 65px;
  background: none;
}

#bt-filter:hover {
  opacity: 1;
}

#bt-filter:active {
  background-color: rgba(0, 59, 123, 0.415);
  opacity: 0.5;
}

#bt-filter:active svg {
  transform: rotate(180deg);
  transition: transform 0.5s;
}

@media only screen and (max-width: 712px) {
  .container-checkbox {
    flex-direction: column;
  }
}