.main-change-pass {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-change-pass label {
    position: relative;
    margin: 20px 0;
    width: 75%;
}

.main-change-pass input {
    width: 100%;
}

.main-change-pass span {
    display: inline-block;
    padding-right: 30px;
    width: 100%;
    text-align: left;
}

.main-change-pass .button {
    width: 100%;
}

.main-change-pass .view-password {
    position: absolute;
    background: none;
    border: none;
    top: calc(51%);
    right: 10px;
    width: max-content;
}

.main-change-pass .view-password svg{
    color: var(--colorBotton);
}