.main-change-pass {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-change-pass label {
    margin: 20px 0;
    width: 80%;
}

.main-change-pass .contain-input-button-pass {
    position: relative;
}

.main-change-pass input {
    width: 100%;
}

.main-change-pass span {
    display: inline-block;
    padding-right: 30px;
    width: 100%;
    text-align: left;
}

.main-change-pass .button {
    width: 100%;
}

.main-change-pass .view-password {
    position: absolute;
    display: flex;
    background: none;
    border: none;
    top: calc(50% - 8px);
    right: 10px;
    width: max-content;
}

.main-change-pass .view-password svg{
    color: var(--colorBotton);
}

.main-change-pass .error {
    margin: auto;
    width: 100%;
}

.main-change-pass #error {
    min-height: 60px;
}