.main-update form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    padding-top: 10px;
}

.main-update form label{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.main-update form label .error {
    margin: auto;
}

.main-update form h2 {
    font-size: 18rem;
}

.main-update form span {
    text-align: left;
}

.main-update form button {
    width: 75%;
}

.main-update form label .contain-input-button-pass {
    position: relative;
}

.main-update form label .contain-input-button-pass input  {
    padding-right: 30px;
    width: 100%;
}

.main-update .view-password {
    position: absolute;
    display: flex;
    background: none;
    border: none;
    top: calc(50% - 8px);
    right: 10px;
    width: max-content;
}

.main-update .view-password svg{
    color: var(--colorBotton);
}
