.main-update form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    padding-top: 10px;
}

.main-update form label{
    display: flex;
    flex-direction: column;
    width: 75%;
}

.main-update form h2 {
    font-size: 18rem;
}

.main-update form span {
    text-align: left;
}

.main-update form button {
    width: 75%;
}