.main-create-user {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.main-create-user form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 80%;
}

.main-create-user label {
    width: 75%;
}

.main-create-user label span, 
.main-create-user label input, 
.main-create-user label button,
.main-create-user__login h3, 
.main-create-user__login .link-login {
    display: inline-block;
    width: 100%;
    margin-top: 5px;
}

.main-create-user label input {
    margin: 0;
}


.main-create-user form p {
    margin-top: 10px;
}

.main-create-user label span {
    text-align: left;
    font-size: 14rem;
}

.main-create-user #error {
    margin: 0 auto;
}

.main-create-user form .contain-input-button-pass {
    position: relative;
}

.main-create-user form .label-pass input, .main-create-user form .label-confirm-pass input {
    padding-right: 30px;
}

.main-create-user .view-password {
    position: absolute;
    display: flex;
    margin: 0;
    background: none;
    border: none;
    top: calc(50% - 8px);
    right: 10px;
    width: max-content;
}

.main-create-user .view-password svg{
    color: var(--colorBotton);
}
