:root {
    --image: url("https://i.ibb.co/h89BLcF/tasking.png");
    --colorLetra: rgb(150, 150, 150);
}

html {
    font-size: 6.25%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 15rem;
    font-family: 'Poppins', sans-serif;;
}

#header {
    position: absolute;
    height: 50rem;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

#contain-logo {
    display: flex;
    align-items: center;
    padding-top: 15rem;
    padding-left: 10rem;
}

#logo {
    background-image: var(--image);
    background-size: cover;
    height: 50rem;
    width: 50rem;
}

#letra {
    color: var(--colorLetra);
    font-weight: 1200;
    text-shadow: 0 0 1rem var(--colorLetra);
    user-select: none;
}

#mode {
    background: none;
    border: none;
    color: var(--colorLetra);
    padding-top: 15rem;
    padding-right: 25rem;
    font-size: 10rem;
}

#mode svg {
    font-size: 25rem;
}

#mode:hover {
    opacity: 0.5;
}