.contain-load {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
    height: 50px;
    width: 50px;
}

.load {
    border: 2px solid #6c757d;
    border-top: 2px solid var(--loading-top);
    border-radius: 100%;
    height: 20px;
    width: 20px;
    animation-name: loading;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}