footer {
  height: 20px;
  width: 100%;
}

footer .link-ig {
  display: flex;
  padding: 0 0 7px 3px;
  height: 20px;
  width: max-content;
  align-items: center;
}

footer .link-ig .logo {
  margin-left: 10px;
  font-size: 10px;
}

footer .link-ig .texto {
  margin-left: 2px;
  font-size: 10px;
  line-height: 15px;
}
