footer {
  padding: 0 10px;
  height: 20px;
  width: 100%;
  overflow: hidden;
}

footer a {
  display: flex;
  align-items: center;
  width: 100%;
}

footer a p, footer a div svg {
  font-size: 12rem;
}

footer a div {
  display: flex;
  margin: 0 1.5px 0 5px;
}

footer a p {
  margin: 0 1.5px;
}

@media only screen and (max-width: 767px) {
  footer a div {
    display: inline;
  }
}