footer {
    height: 20px;
    width: 100%;
}

footer .link-ig {
    display: flex;
    height: 20px;
    align-items: center;
}

footer .link-ig .logo {
    margin-left: 10px;
    font-size: 10px;
}

footer .link-ig .texto {
    margin-left: 2px;
    font-size: 10px;
    line-height: 15px;
}