.main-rp {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main-rp form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 400px;
}

.main-rp form h2 {
    font-size: 22px;
}

.main-rp form h2, .main-rp form p,
.main-rp form input, 
.main-rp form button, 
.main-rp__login button {
    width: 85%;
    color: var(--colorBotton);
}

.main-rp__login {
    height: 100px;
}

.main-rp__login * {
    margin: 5px 0;
}

.back-login {
    text-decoration: underline;
    text-underline-offset: 5px;
}