#menu-bar {
    position: fixed;
    top: 0;
    left: var(--left);
    overflow: auto;
    height: 100%;
    width: 100%;
    background: var(--colorRoot);
    transition: background-color 0.5s, left 1s;
}

.menu-bar__button {
    display: block;
    height: 60px;
    width: 30px;
    padding-top: 10px;
    padding-left: 10px;
    background: none;
    border: none;
    color: var(--colorBotton);
}

.menu-bar__button svg {
    font-size: 20rem;
}

.contain-menu {
    height: 50%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#bt-menu {
    border: none;
    margin: 0;
}

.contain-menu a {
    display: flex;
    justify-content: center;
    margin: 0;
    height: 50px;
    line-height: 50px;
}

