.main-login {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 620px;
}

.main-login__login {
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.main-login__login form, .main-login__login label, .main-login__login button, .main-login__login p {
    width: 75%;
}

.main-login__login label {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.main-login__login input {
    width: 100%;
}

.main-login__login .password {
    padding-left: 30px;
}

.main-login__create-user {
    min-height: 170px;
}

.main-login__create-user h3, .main-login__create-user button {
    display: inline-block;
    margin-top: 25px;
    width: 75%;
}

.main-login__link-rp {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.main-login .main-login__login .password-contain input {
    padding-right: 30px;
    width: 100%;
}

.main-login .main-login__login .password-contain {
    position: relative;
    width: 75%;
}

.main-login .show-password {
    position: absolute;
    right: 10px;
    bottom: 0;
    display: flex;
    align-items: center;
    border: none;
    height: 50px;
    width: max-content;
    background: none;
    color: var(--colorBotton);
}