.main-login {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main-login__login input, .main-login__login button, .main-login__login p {
    margin-top: 25px;
    width: 75%;
}

.main-login__create-user h3, .main-login__create-user button {
    display: inline-block;
    margin-top: 25px;
    width: 75%;
}

.main-login__login #error {
    margin: auto;
    margin-top: 25px;
}

