:root {
  --colorRoot: rgb(230, 230, 230);
  --colorBorder: rgb(104, 104, 104);
  --colorBotton: rgb(0, 0, 0);
  --image: url("https://i.ibb.co/h89BLcF/tasking.png");
  --bkModal: rgba(0, 0, 0, 1);
  --bkButton: #adb5bd;
  --loading-top: #03045e;
}

html {
  font-size: 6.25%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16rem;
  text-align: center;
}

body {
  background: var(--colorRoot);
  transition: background-color 0.5s;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  min-height: 100vh;
  width: 100%;
  min-width: 275px;
  max-width: 720px;
}

main {
  display: flex;
  flex: 1;
  width: 100%;
}

input {
  padding: 0 10px;
  outline: none;
  background: none;
  border: 1px solid var(--colorBorder);
  border-radius: 5px;
  height: 50px;
  color: var(--colorBotton);
  text-align: center;
  transition: border 0.35s;
}

input::placeholder {
  text-align: center;
  color: var(--colorBorderInput);
}

input:focus {
  border: 1px solid var(--colorBotton);
}

.button {
  background: none;
  background: var(--bkButton);
  border: none;
  border-radius: 5px;
  height: 50px;
  color: var(--colorBotton);
  font-weight: 600;
  transition: opacity 0.5s, background-color 0.35s, color 0.35s;
}

.button:hover {
  opacity: 0.5;
}

.button:active {
  opacity: 0.3;
}

.show-password {
  transition: color 0.35s;
}

#error,
.error {
  min-height: 30px;
  width: 80%;
  height: 100%;
  color: rgb(238, 16, 16);
  font-size: 14rem;
  text-align: center;
  word-break: break-word;
}

a,
h3,
h2 {
  color: var(--colorBotton);
  text-decoration: none;
  font-weight: 600;
  transition: color 0.35s;
}

span, p {
  color: var(--colorBotton);
  transition: color 0.35s;
}

a:hover {
  opacity: 0.5;
  transition: opacity 0.5s;
}

.button-add-task {
  height: 30px;
  width: 30px;
  margin: 20px 0;
  border: 2px dashed var(--colorBotton);
  border-radius: 100%;
  background: none;
  transition: opacity 0.5s, border 0.35s, transform 0.5s;
}

.button-add-task:hover {
  transform: rotate(180deg);
}

.button-add-task:active {
  opacity: 0.3;
}

.button-add-task svg {
  color: var(--colorBotton);
  font-size: 25px;
  transition: color 0.35s;
}
