:root {
    --heightRoot: 100vh;
    --minHeightRoot: 620px;
    --colorRoot: rgb(17, 17, 17);
    --colorBorder: rgb(104, 104, 104);
    --colorBotton: rgb(255, 255, 255);
    --left: -500rem;
    --image: url("https://i.ibb.co/h89BLcF/tasking.png");
    --colorLetra: rgb(150, 150, 150);
    --bkModal: rgba(0, 0, 0, 0.8);
    --bkButton: #adb5bd;
    --loading-top: #bde0fe;
}

html {
    font-size: 6.25%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16rem;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

#root {
    height: var(--heightRoot);
    min-height: var(--minHeightRoot);
    width: 100%;
    min-width: 275px;
    background: var(--colorRoot);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.5s;
}

main {
    height: 100%;
    width: 100%;
}

input {
    padding: 0 10px;
    outline: none;
    background: none;
    border: 1px solid var(--colorBorder);
    border-radius: 5px;
    line-height: 50rem;
    color: var(--colorBotton);
    text-align: center;
}

input::placeholder {
    text-align: center;
    color: var(--colorBorderInput);
}

input:focus {
    border: 1px solid var(--colorBotton);
}

.button {
    background: none;
    background: var(--bkButton);
    border: none;
    border-radius: 5px;
    line-height: 52rem;
    color: var(--colorBotton);
    font-weight: 600;

}

.button:active {
    opacity: 0.6;
}

#error, .error {
    min-height: 30px;
    width: 80%;
    line-height: 30px;
    color: rgb(238, 16, 16);
    font-size: 14rem;
    text-align: center;
    word-break: break-word;
}

a, h3, h2 {
    color: var(--colorBotton);
    text-decoration: none;
    font-weight: 600;
}

span {
    color: var(--colorBotton);
}

a:hover {
    opacity: 0.5;
}

.button-add-task {
    height: 30px;
    width: 30px;
    margin: 20px 0;
    border: 2px dashed var(--colorBotton);
    border-radius: 100%;
    background: none;
}

.button-add-task svg {
    color: var(--colorBotton);
    font-size: 25px;
}